body {
   font-family: 'Open Sans', sans-serif;
   max-width: 1320px;
   margin: 0 auto;
}

.first-banner {
   background-image:
      linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
   /* width: 1320px; */
   height: 600px;

   border-radius: 16px;
   margin: 40px auto;


}

.banner-text {
   padding-top: 85px;

}

.text {
   color: #FFF;
   text-align: center;
   font-size: 32px;
   font-weight: 400px;
}

.text1 {
   color: #FFF;
   text-align: center;
   font-size: 72px;
   font-weight: 800px;
   border-top: 16px;
}

.discount {

   background: #FFF;
}

.first-text {
   color: #F00;
   text-align: center;
   font-size: 88px;
   font-weight: 700;
}

.second-text {
   color: #F00;
   text-align: center;
   font-size: 24px;
   font-weight: 500;
}

.third-text {
   color: #070211;
   text-align: center;
   font-size: 48px;
   font-weight: 700;


}

.image {
   text-align: center;

}

.main-section-banner {
   background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
   /* width: 1320px; */
   height: 600px;
   flex-shrink: 0;
   margin: 80px auto;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.Welcome-text {
   color: #FFF;
   font-size: 72px;
   font-weight: 800px;



}

.btn-primary {
   color: #FFF;
   text-align: center;
   font-weight: 500;
   line-height: normal;
   background-color: #1a1524;

}

.paraghraph-text {
   color: #FFF;

}

.announcement {

   text-align: center;

   font-size: 32px;

   font-weight: 600;
   line-height: 56px;


}

.date {
   color: #F00;
}

.join-button {
   display: inline-flex;
   padding: 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 8px;
   background: #F00;
   color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 700;

}

.button-path {
   color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 700;

}

.time-spent {
   background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   /* width: 1320px; */
   height: 482px;
   flex-shrink: 0;
   text-align: center;
   /* margin: 0 auto; */
   padding-top: 80px;
}

.offer-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 100px auto;
   background: #FFF;
   /* width: 1320px; */
   height: 450 px;
}

.offer-image {
   border-radius: 463px;
   border: 15px solid #F00;
   padding: 20px;


}

.offer-head {
   color: #F00;
   font-weight: 500;
}

.offer {
   color: #070211;
   font-weight: 800;
}

.offer-text {
   color: rgba(7, 2, 17, 0.60);
   font-weight: 400;
}

.year {
   color: #F00;
   font-weight: 700;
}

.year-text {
   color: rgba(7, 2, 17, 0.60);
   font-weight: 400;
}
.high-discount{
height: 900px;
   
}
.conditional{
   color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 400;

}
.day-parcentage{
font-family: Merriweather;
font-size: 50px;
font-weight: 700px;
margin-bottom: 25px;
}

.parcentage-text{
   width: 900px;
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-weight: 400;
   padding-left: 180px;
   }


.day{
   color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 800;
}
.discount-text{
   text-align: center;
}

.discount-image{

   background-image: url('../resources/Rectangle\ 2.png');

   background-repeat: no-repeat;
   background-position: bottom;
}

.hurrah{
   /* background-image: url('../resources/Rectangle\ 1.png');
   background-repeat: no-repeat;
  position: top; */
}





.gift-section {
   align-items: center;
   margin: 80px auto;
   background: #FFF;
   /* width: 1320px; */
   height: 450 px;
}

.gift-title {
   color: #F00;
   font-weight: 500;

}

.gift-head {
   color: #070211;
   font-size: 32px;
   font-weight: 800;

}

.gift-paragaraph {
   color: rgba(7, 2, 17, 0.60);
   font-size: 20px;
   font-weight: 400;

}

.three-product {
   display: flex;
   margin: 50px auto 20px;
   gap: 24px;
}

.others-product {
   display: flex;
   margin-bottom: 25px;
   gap: 24px;
}

.form-section {
   /* width: 1320px; */
   height: 500px;
   /* margin: 0 auto; */
   text-align: center;
   padding-top: 80px;
   border-radius: 16px;
   background: rgba(255, 0, 0, 0.05);
}

.form-head {
   color: #070211;
   font-size: 38px;
   font-weight: 800;
}

.form-text {
   color: rgba(7, 2, 17, 0.60);
   font-size: 20px;
   font-weight: 400;

}
.form-box{
   width: 500px;
   display: flex;
   padding-left: 410px;
}

.email-field {
   border: none;
   outline: none;
   margin: 0 auto;
   width: 500px;
   padding: 20px;
   border-radius: 50px 0px 0px 50px;
   background: #FFF;
 


}

.form-button {
   margin-left: 0px;
   padding: 19px;
   border-radius: 0px 50px 50px 0px;
   background: #F00;
   
}

.footer-section {
   background: #070211;
   margin:60px auto 0  ;

   height: 500px;
   padding: 100px 160px 0 120px;
   
}

.first-left {
   color: #FFF;
   font-weight: 500;

}

.second-right {

   color: #FFF;
   font-size: 20px;
   font-weight: 500;

}

.call {
   display: flex;
   align-items: center;
}

.website {
   display: flex;
   align-items: center;
}

.footer-text {
   display: flex;
   justify-content: space-between;
}

.call-image {
   width: 24px;
   height: 24px;

}
.website-image{

}
hr{
   background: rgba(255, 255, 255, 0.15);
}
.social-icons{
   padding: 40px;
   
  text-align: center;
}
.footer-last-step{
   color: #FFF;
font-size: 24px;
font-weight: 500;
padding-top: 50px;
display: flex;
justify-content: space-between;
}