body {
            font-family: 'Open Sans', sans-serif;
}

.first-banner {
            background-image: url("../resources/Banner\ Image.png");
            width: 1320px;
            height: 600px;
            flex-shrink: 0;
            border-radius: 16px;
            margin: 40px auto;
            
            
}
.banner-text{
   padding-top: 85px;
}

.text{
            color: #FFF;
            text-align: center;

            font-size: 32px;

            font-weight: 400px;          
}

.text1 {
              color: #FFF;
            text-align: center;
            font-size: 72px;
            font-weight: 800px;  
            border-top: 16px;       
}